<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/profile-styles.css' %}">
</head>
<body>

     <!-- Display only relevant messages -->
     {% if messages %}
     <div class="alert-container">
         {% for message in messages %}
             {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                 <div class="alert alert-success" style="color: green;">{{ message }}</div>
             {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                 <div class="alert alert-error" style="color: red;">{{ message }}</div>
             {% endif %}
         {% endfor %}
     </div>
    {% endif %}
    
    <div class="profile-container">
        <h1>Select the Profile</h1>
        <div class="profiles">
            {% for kid in kids %}
                <div class="profile">
                    <a href="{% url 'questionchoice' %}">
                        <img src="{% static 'home/profile-erica.png' %}" alt="{{ kid.kid_name }} Profile">
                        <p>{{ kid.kid_name }}</p>
                    </a>
                </div>
            {% empty %}
                <p>No profiles available.</p>
            {% endfor %}
        </div>
    </div>
    

    <!-- JavaScript to hide messages after 2 seconds -->
    <script>
        setTimeout(function() {
            const messages = document.querySelectorAll('.alert');
            messages.forEach(function(message) {
                message.style.display = 'none';  // Hide the message
            });
        }, 2000);  // 2000 milliseconds = 2 seconds
    </script>
    
</body>
</html>
