body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

h1, h2 {
    color: #333;
}

#questionsPage, #answerPage {
    display: none;
}

.question-section {
    margin: 10px 0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#questionsList, #answersList {
    list-style-type: none;
    padding: 0;
}

#questionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.question {
    width: 100px;
    text-align: center;
}

.answer {
    margin-top: 5px;
    font-weight: bold;
    color: green;
}

@media print {
    body {
        margin: 0;
        padding: 20px;
        font-size: 16px;
    }

    button {
        display: none; /* Hide buttons */
    }

    .row {
        break-inside: avoid; /* Prevent rows from splitting across pages */
    }

    .answer {
        font-weight: bold;
        color: black;
    }
}
